/* Tablet and mobile */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .header__logo-search-cart-container {
        padding-top: 0;
    }

    .body__content {
        padding-top: 70px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__icon-select-mobile {
        font-size: 34px;
    }
}

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }  

    .header__search-bar {
        height: 30px;
        padding-right: 5px;     
    }

    .header__button-search {
        height: 24px;
        margin-top: 3px;
        border-radius: 3;
    }
}

/* pc */
@media(min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}